/* Footer Area */
footer
{
    display: block;
}

#footer-misc
{
    @extend %no-space;

    display: flex;
    
    justify-content: center;
}

#footer-misc li
{
    list-style: none;

    margin-right: 8px;
}