/* Footer Area */
footer
{
    display: block;
}

#footer-misc
{
    @extend %no-space;

    display: flex;
    
    justify-content: center;
}

#footer-misc li
{
    list-style: none;

    margin-right: 8px;
}

#footer-misc .container-link
{
    color:#3498db;
    
    cursor: pointer;
    
    text-transform: uppercase;
    font-family: 'Open Sans';

}

#footer-misc .container-link:hover
{
    color:#2ecc71;
    
}